* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightblue;
  font-family: Arial, Sans-Serif;
  scroll-behavior: smooth;
}
nav ul{
  background-color: lightgreen;
  justify-content: center;
  display: flex;
  gap: 30px;
  padding: 20px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: navy;
  text-align: center;
  font-weight: bold;
}
header {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-image: linear-gradient(to right, navy , royalblue);
}
.btn {
  background-color: white;
  padding: 15px;
  margin: 20px;
  border-radius: 15px;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  color: yellow;
}
a:focus {
  color: red;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: row;
    gap: 15px;
  }
}
button:hover {
  color: red;
}
.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}
.whatsap-btn {
  background-color: green;
  padding: 10px 10px;
  margin: 10px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  transition: 0.3s;
}
.whatsap-btn:hover {
  background-color: darkgreen;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}
#contact {
  background-color: lightgreen;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
#about {
  text-align: center;
  background-color: white;
  padding: 10px;
  margin: 10px;
}
#skills {
  text-align: center;
}
#projects {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
.testimon {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
#nav-bar {
  position: sticky;
  top: 0;
}
